
body {
  background-color: #fa9b2e;
}
form {
  background-color: rgb(73, 190, 236);
  border-radius: 30px;
}
h2{
  color:darkblue;
}
h1{
  color: rgb(255, 255, 255);
  font-family: fantasy; 
  font-size:xx-large;
}
#ext{
  color: red
}
#obe{
  color:orange
}
#sobr{
  color:yellow
}
#sal{
  color:rgb(28, 224, 28)
}
#baj{
  color:rgb(17, 42, 153) 
}
